.App {
  text-align: center;
  background-color: lightsteelblue;
  padding-bottom: 50px;
}

.title {
  font-size: xx-large;
}

.body {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 100px;
  padding-left: 500px;
  padding-right: 30%;
}

.body-header {
  text-align: left;
  padding-left: 500px;
}
.input {
  width: 100px;
  height: 20px;
  font-size: large;
}

.button {
  width: 75px;
  height: 40px;
  background-color: lightgray;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.progressBar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid rgb(255, 232, 57);
  text-align: center;
  display: inline-block;
}

.progressBar div {
  width: 20%;
  height: 100%;
  background-color: blueviolet;
}
